<h3>Welcome to Pizza Shop!</h3>

<% @product.each do |p| %>
<p> 
  proguct 
</p>
<% end %>

<!-- <div class="container">
	<div class="row">
		<div class="col-md-3">
			.col-md-3
		</div>
  		<div class="col-md-9">
  			.col-md-9
  			<div class="container">
  				<div class="row show-grid">
  					::before
  					<div class="col-md-3">.col-md-3</div>
  					<div class="col-md-3">.col-md-3</div>
  					<div class="col-md-3">.col-md-3</div>
  					::after
  				</div>
  			</div>
  		</div>
	</div>
</div>
 -->
<button class="btn btn-primary" onclick="something()" > Click me! </button>