<h2>Заказ подтверждён!</h2>

<p><%= @ooo.inspect %></p>
  
Page place_order.erb

<p> Ознакомьтесь с Вашими далнейшими действиями:</p>

<script type="text/javascript">
  
  function cart_clear_orders()
  {
    // Команды скрипта работают в консоле браузера, т.е. их можно там оттестить.
    j=0;
    
    for ( i = 0;  i < window.localStorage.length; i++) 
    {
      // Получаем ключ текущего элемента в хеше (записываем его в key
      var key = window.localStorage.key(i);
      
      // Если ключ key начинается с 'product_' или дословно: если позиция (index Of) с которой
      // начинается строка 'product_' - это нулевая позиция в текущем ключе key, то ...
      if(key.indexOf('product_') == 0)
      {
        // Если ключь наш, то удаляем запись из localStorage с выбранным ключём)
        window.localStorage.removeItem(key);
        j += 1;
      }     
    }
    return j;
  }
</script>

